.btn:hover{
    -fx-cursor:hand ;
}
.table-view {
    -fx-background-color:    #85B3D1Ff;
    -fx-background-radius:12 12 0 0;
    }

.table-view .column-header-background{
        -fx-background-color:     #85B3D1Ff;
        -fx-background-radius:14;
        -fx-background-insets: 0 0 10 0;
    }

.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
    }

.table-view .column-header .label {
        -fx-text-fill: white;
    }


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.button:hover{
    -fx-background-color: FADB7d;
}